@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}
/* On applique un gris plus clair sur les paragraphes */
p {
   color: #000;
   text-align: center;
   margin: 50%;
}
/* Intro */
.intro {
   margin-left: 25%;
   margin-right: 25%;
}

/* Menu et header */
.wrap:visited, .wrap:active {
   font-weight: bold;
}

/*footer*/ 
.site-footer {
   text-align: center;
   background-color: white;
   height:60px;
}

/*Call to action et interactions*/
.cta {
   margin-top: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   border-radius: 5px;
   background: #E0B9B4;
}

.wp-block-column {
   align-content: center;
}

.is-style-rounded {
   object-fit: cover;
   max-width: 167px;
   max-height: 167px;
   border-radius: 25%;
}