@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}
/* On applique un gris plus clair sur les paragraphes */
p {
   color: #000;
   text-align: center;
   margin: 50%;
}
/* Intro */
.intro {
   margin-left: 25%;
   margin-right: 25%;
}

/* Menu et header */
.wrap:visited, .wrap:active {
   font-weight: bold;
}

/*Call to action et interactions*/
.cta {
   margin-top: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   border-radius: 5px;
   background: #E0B9B4;
}

.profile {
   object-fit: contain;
   width: 167px;
   height: 167px;
   border-radius: 25%;
}